[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git

[submodule "StreamStringLibrary"]
	path = StreamStringLibrary
	url = git://github.com/Relz/StreamStringLibrary.git
